body{

margin:0;
font-family:Arial;

background: linear-gradient(135deg, #1e3a8a, #0f172a, #312e81);

color:white;

}

/* Navbar */

nav{

display:flex;

justify-content:space-between;

align-items:center;

padding:20px 80px;

background:#000000;

}


nav ul{

display:flex;

list-style:none;

}


nav ul li{

margin-left:20px;

}


nav ul li a{

color:white;

text-decoration:none;

font-size:16px;

}



/* Hero */

.hero{

text-align:center;

padding:80px 20px;

max-width:800px;

background: linear-gradient(to right, #141e30, #243b55);

margin:auto;

}


.profile{

width:150px;
height:150px;
object-fit:cover;

border-radius:50%;

border:4px solid white;

}


.hero h1{

font-size:42px;

margin:10px;

}


.hero h3{

color:#38bdf8;

margin:5px;

}


.hero p{

max-width:600px;

margin:auto;

}


.hero button{

padding:12px 30px;

border:none;

background:#38bdf8;

color:white;

font-size:18px;

border-radius:8px;

margin-top:20px;

cursor:pointer;

}



/* About */

.about{


padding:80px 20px;

max-width:1000px;

margin:auto;

}


.about-container{

display:flex;

align-items:center;

gap:40px;

justify-content:center;

}


.about img{

width:250px;
height:250px;
object-fit:cover;

border-radius:15px;

}


.about p{

max-width:600px;

}

/* Education */

.education{

padding:80px 20px;

text-align:center;

}

.edu-container{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.edu-card{

background:#1e293b;

padding:25px;

border-radius:10px;

width:300px;

}

.edu-card span{

color:#38bdf8;

}



/* Experience */

.experience{

padding:80px 20px;

text-align:center;

}

.exp-container{

display:flex;

justify-content:center;

gap:20px;

flex-wrap:wrap;

}

.exp-card{

background:#1e293b;

padding:25px;

border-radius:10px;

width:300px;

text-align:left;

}

.exp-card span{

color:#38bdf8;

}

.exp-card ul{

padding-left:20px;

}

/* Skills */

.skills{

text-align:center;

padding:80px 20px;


}


.skill-box{

display:flex;

justify-content:center;

flex-wrap:wrap;

gap:15px;

}


.skill{

background:#1e293b;

padding:12px 25px;

border-radius:8px;

}



/* Contact */

.contact{

text-align:center;

padding:80px 20px;

max-width:800px;

margin:auto;

}


.contact input,

.contact textarea{

width:100%;

padding:15px;

margin:10px 0;

border-radius:8px;

border:none;

}


.contact button{

padding:12px 30px;

background:#38bdf8;

border:none;

color:white;

font-size:18px;

border-radius:8px;

cursor:pointer;

margin-top:10px;

}
/* Footer */

footer{

background:#0f172a;

color:white;

text-align:center;

padding:30px;

margin-top:50px;

}

footer h2{

margin:10px;

}

footer p{

margin:5px;

}

.copy{

margin-top:15px;

color:#38bdf8;

}